@model OnlineContestSystem.Models.VoteCategoryViewModel

@{
    ViewBag.Title = "Categories";
}

<h2>@Model.Categorey.Title</h2>

<div>
    <h4>Contestants</h4>
    <hr />
    
            @foreach (var item in Model.Contestants)
            {
                <dl class="dl-horizontal">
                    <dt>
                        Name
                    </dt>

                    <dd>
                        @item.Name
                    </dd>

                    <dt>
                        State
                    </dt>

                    <dd>
                        @item.States
                    </dd>

                    <dt>
                        Country
                    </dt>

                    <dd>
                        @item.Nation
                    </dd>
                    @*Just continue with the details you need for each contestant*@

                    <dd>
                        @Html.ActionLink("Vote Now", "Vote", new { contestantId = item.ID, categoreyId = Model.Categorey.Id })
                    </dd>
                    </dl>
                    <br />
                    }




</div>
<p>
    @* What is this for??  *@

    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
