@using Microsoft.AspNet.Identity
@model OnlineContestSystem.Models.Contestant

@{
    ViewBag.Title = "Create";


}

<style>
    #UploadImg
    {
        display: none;
    }

    #imgPreview
    {
        cursor: pointer;
    }
</style>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( function() {
        $( "#datepicker" ).datepicker();
    } );
</script>

@Styles.Render("~/Content/cssjqryUi")

@*<h2>Create</h2>*@

<div class="logsign">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-8">
                <div style="padding: 15px; margin-top: 40px; border-width: thick; background-color: white;" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center; font-size: 24px;">JOIN THE CONTEST</h3>
                    </div>
                    <div class="panel-body" style="padding-top: 0">
                        @using (Html.BeginForm("Create", "Contestants", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal" style="padding: 15px 10%">
                                
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "ContestantName"} })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-3" style="text-align: left">
                                        @Html.LabelFor(model => model.ProfilePic)
                                    </div>
                                    <div class="col-md-9">
                                        @*<input id="PicPath" title="Upload Your Profile Pic"
                                               type="file" name="pic" accept="image/*" />*@
                                        <image id="imgPreview" src="~/Content/profile.png" height="100" width="100"/>
                                        <input id="file2" type="file" 
                                               name="files" placeholder="Photo" required="" capture>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Genders, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EnumDropDownListFor(model => model.Genders, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Genders, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">

                                        @Html.DropDownList("catID", (SelectList)ViewBag.Categories, "--Select Category--", new { @class = "form-control" })
                                       
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-3" style="text-align: left">
                                        @Html.LabelFor(model => model.Images)
                                    </div>
                                    <div class="col-md-9">
                                        <input id="file1" title="Upload videos or pictures that depict your talent"
                                               type="file" multiple name="files" accept="images/*" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @readonly = "true", placeholder = "Enter date of birth" } })
                                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(model => model.Bio, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" value="Submit" class="btn btn-default" style="background-color: #a00ad7; color: white;" />
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")

    @*<script>
        $("#ImagePath").change(function() {
            var data = new FormData();
            var files = $("#ImagePath").get(0).files;
            if (files.length > 0) {
                data.append("MyImages", files[0]);
            }

            $.ajax({
                url: "/Contestants/Upload",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function(response) {
                    //code after success
                    //$("#txtImg").val(response);
                    //$("#imgPreview").attr('src', '/Images/@User.Identity.GetUserId()/@Model.Name' + response);
                    alert('This was done successfully.');
                },
                error: function(er) {
                    alert(er);
                }

            });
        });
</script>*@

    <script>
        $("#UploadImg").change(function() {
            var data = new FormData();
            var files = $("#UploadImg").get(0).files;
            if (files.length > 0) {
                data.append("MyImages", files[0]);
            }

            @*$.ajax({
                url: "/Contestants/UploadFile",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function(response) {
                    //code after success
                    //$("#txtImg").val(response);
                    $("#imgPreview").attr('src', '/Images/ProfPath/@User.Identity.GetUserId()/' + response);
                },
                error: function(er) {
                    alert(er);
                }

            });*@
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function() {
            $("#imgPreview").click(function(e) {
                $("#UploadImg").click();
            });

        });
    </script>
    <script>
        $(function() {
            $("input[type='submit']").click(function() {
                var $fileUpload = $("input[type='file']");
                if (parseInt($fileUpload.get(0).files.length) > 2) {
                    alert("You can only upload a maximum of 2 files");
                }
            });
        });
    </script>

}
  
