@model IEnumerable<OnlineContestSystem.Models.Contestant>
@using OnlineContestSystem.Models

@{
	ViewBag.Title = "Index";
	List<string> files = ViewBag.ProofPaths;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />

<div id="page-header">

	<div class="ken-burn"></div>

	<div class="page-header-overlay"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<h1>Seed Online Contest</h1>
				<p>
					Do you think you have what it takes? <br class="hidden-xs">
					Join below and stand a chance to win.
				</p>
				<p>@ViewBag.Title</p>
				<a href="@Url.Action("Create", "Contestants")" class="btn btn-lg" style="margin: 30px; border: solid;
									  border-color: white;
									  color: white;">Join Now!</a>

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
</div><!-- page-header -->

<h2 style="color: purple">Most Recent Contestants</h2>

@*<p>
	@Html.ActionLink("Create New", "Create")
</p>*@

@*
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
			@Html.ActionLink("Details", "Details", new { id = item.ID }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.ID })
		</td>
	</tr>
*@

<div class="row">
	<div class="large-12 columns">
		<div class="owl-carousel owl-theme">

			@foreach (var item in Model)
			{
				<div class="item">
					<div class="thumbnail">
						<img class="group list-group-image" src="@item.Images.FirstOrDefault().Path" alt=""/>
						<div class="caption">
							<h4 class="group inner list-group-item-heading">
								@item.Name
							</h4>
							<p class="lead" style="text-align: center;">
								@item.Categories</p>
							<div class="row text-center">
								<div class="col-xs-12 col-md-6">
									<p style="font-size: 22px">@item.States</p>
								</div>
								<div class="col-xs-12 col-md-6">
									@Html.ActionLink("View Candidate", "Details", new {id = item.ID}, new {@class = "btn btn-primary btn-plan-select"})
								</div>
							</div>
						</div>
					</div>
				</div>

				@*<div class="item">
					<img class="group list-group-image" src="@item.Images.FirstOrDefault().Path" alt="" />
				</div>*@

			}
		</div>
	</div>

	@*<div class="text-center">
		<ul class="pagination">
			<li><a class="btn btn-primary play">Play</a></li>
			<li><a class="btn btn-primary stop">Stop</a></li>
		</ul>
	</div>*@
</div>

@* Display Categories *@

<div class="container" style="width: 100%;">
	<h2 style="color: purple">Categories</h2>
	<div id="categories-list" class="row list-group">

		@foreach (Category cat in Enum.GetValues(typeof(Category)))
		{
			<div class="item col-md-3 col-sm-6 col-xs-12">
				<div class="thumbnail">
					<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt=""/>
					<div class="caption">
						<h4 class="group inner list-group-item-heading">
							@cat.ToString()</h4>
						<p class="group inner list-group-item-text">
							@cat.ToString() is... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
						<div class="row">
							<div class="col-xs-12 col-md-12">
								@Html.ActionLink("View Category", "Categories", "Contestants", new {catFinal = @cat.ToString()}, new { @class = "btn btn-primary", style="margin-top: 10px;"})
							</div>
						</div>
					</div>
				</div>
			</div>
		}

	</div>
</div>
		

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
<script>
	$('.owl-carousel').owlCarousel({
		autoplay:true,
		autoplayTimeout:1000,
		autoplayHoverPause:true,
		loop: true,
		dots: false,
		margin: 10,
		nav: false,
		responsive: {
			0: {
				items: 1
			},
			600: {
				items: 3
			},
			1000: {
				items: 4
			}
		}
	})
</script>
<script>
	$(document).ready(function () {
		$('#list').click(function (event) { event.preventDefault(); $('#categories-list .item').addClass('list-group-item'); });
		$('#grid').click(function (event) { event.preventDefault(); $('#categories-list .item').removeClass('list-group-item'); $('#categories-list .item').addClass('grid-group-item'); });
	});
</script>